/* background image + title  */
.backImg {
    background-size: cover;
    min-height: 80vh;
    position: relative;
    color: black;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    z-index: 1;
}
.color-overlay h1{
    color: white;
    text-shadow: 2px 2px 2px rgba(1,1,1,1);
    
}

h1{
    font-size: 7rem;
    color: black;
}
.container h2{
    font-size: 3rem;
    letter-spacing: 2px ;
    font-weight: 800;
}

@media screen and (min-width:576px){
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
}

.carousel-inner{
    padding: 0.5em ;
    z-index: 1;
    margin-top: -5%;

}

.card{
    margin: 0.5rem  ;
    box-shadow: 2px 6px 8px rgba(158, 158, 167, 0.18);
    border-radius: 0;

}
.card-body h2{
    font-size: 3rem;
}

.img-wrapper{
    max-width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.carousel-control-prev , .carousel-control-next{
    width: 6vh ;
    height: 6vh;
    background-color: rgb(241, 241, 70);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}

.carousel-control-prev:hover , .carousel-control-next:hover{
    opacity: 0.5;
}

.body{
    margin: 0;
    display: flex;
    background: #e8bd23;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

.skewed{
    width: 80em;
    color: rgb(28, 28, 1);
    display: flex;
    background: #d8d6cd;
    margin: 2em 0 ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

}

.text{
    padding: 1.5em  ;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.image{
    width: 50%;
    height: 30em;
    position: relative;
    overflow: hidden;
}

.image::before{
    content: '';
    position: absolute;
    left: -6.1em ;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    background: #d8d6cd;
    width: 30%;
    height: 130%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.skewed-left .image::before{
    transform: translateY(-50%) rotate(-20deg);
    left: initial;
    right: -6.1em;
}

img {
    width: 140%;
}

@media screen and (max-width:750px){
    .skewed {
        display: block;
        width: 20em;
    }
    .image, .text{
        width: 100%;
    }
    img {
        width: 160%;
    }
    .skewed .image::before{
        width: 120%;
        height: 40%;
        top: -5em;
        left: 50%;
        transform: translateX(-50%) rotate(10deg);
    }
    .skewed-left .image::before{
        transform: translateX(-50%) rotate(-10deg) ;
        top: initial;
        bottom: -5em;
    }
}

.reviews {
    
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    background: #d8d6cd;
    padding: 2px ;
    border-radius: 10px ;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2),
    inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    8px 30px 30px rgba(0, 0, 0, 0.4),
    inset -2px -2px 5px rgba(0, 0, 0, 0.4);

}
.name {
    color: black;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding: 30px 50px ;
    margin-bottom: 10px;
}


.reviews input{
    display: none;

}
.reviews input+label {
    font-size: 50px ;
    text-shadow: 1px 1px 0 #ffe400;
    cursor: pointer;
    color: #e4d013;

}

.reviews input:checked + label ~ label{
    color: #838383;
}

.reviews label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
}

.footer{
    background-color:black;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;

}

.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px ;
    background-color: white;
    margin: 10px ;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em ;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: black;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s  ;
}

.footerNav {
    margin: 30px 0;

}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none ;

}
.footerNav ul li a {
    color: white;
    margin: 20px ;
    text-decoration: none;
    font-size: 1.3em ;
    opacity: 0.7;
    transition: 0.5s ;
}
.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;

}
.designer{
    opacity: 0.7;
    text-transform:uppercase ;
    letter-spacing: 1px  ;
    font-weight: 400;
    margin: 0px 5px ;
}

@media (max-width:700px) {
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px  ;
    }
}
.card {
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    background: #d8d6cd;
    padding: 2px ;
    border-radius: 10px ;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2),
    inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    8px 30px 30px rgba(0, 0, 0, 0.4),
    inset -2px -2px 5px rgba(0, 0, 0, 0.4);
}
.card input{
    display: none;
}

.card input+label {
    font-size: 50px ;
    text-shadow: 1px 1px 0 #ffe400;
    cursor: pointer;
    color: #e4d013;

}

.card input:checked + label ~ label{
    color: #838383;
}

.card label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
}

.rateUs{
    margin-bottom: -10%;
    
}

.rateUs h3{
    color: white;
    font-weight: 600;

}
